/*Doubts*/
.doubts{
    margin: 15px 0;
}

.accordion-blue {
    margin: 0 0 18px !important;
    border-radius: 6px !important;
}

.accordion-blue .panel,
.accordion-blue .panel-body {
    border: none !important;
}

.accordion-blue .accordion-blue__heading{
    padding: 15px 10px;
    background-color: #e9ecf3 !important;
}

.accordion-blue .panel-heading,
.accordion-blue .panel-body {
    background-color: #e9ecf3 !important;
}

.accordion-blue .panel {
    border-radius: 4px !important;
    margin-top: 8px !important;
    overflow: hidden;
}

.accordion-blue .panel:first-child {
    margin-top: 15px !important;
}

.accordion-blue .panel-heading {
    padding: 10px;
}

.accordion-blue .panel-title a {
    color: #26478d;
    display: block;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .1px;
    padding-right: 28px;
    position: relative;
}

.accordion-blue .panel-title-2 a {
    color: #26478d;
    display: block;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .1px;
    padding-right: 28px;
    position: relative;
}

.accordion-blue .panel-title a:after {
    background-image: url('../images/select-arrow.png');
    background-repeat: no-repeat;
    content: '';
    height: 14px;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: transform 260ms ease-out;
    transition: transform 260ms ease-out;
    width: 24px;
}
.accordion-blue .panel-title a[aria-expanded="true"]:after {
    -webkit-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
}

.accordion-blue .panel-title a:focus,
.accordion-blue .panel-title a:hover,
.accordion-blue .panel-title a:active,
.accordion-blue .panel-title a:visited {
    text-decoration: none;
}

.accordion-blue .panel-body {
    color: #575755;
    padding: 0 20px 15px;
}

.accordion-blue .panel-body p {
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}

.accordion-blue .panel-body a {
    color: #26478d;
    font-weight: 600;
    text-decoration: underline;
}

@media (min-width: 768px) {
    .accordion-blue .panel-body {
        padding: 0 10px 10px 20px;
    }
}

@media (min-width: 992px) {
    .accordion-blue {
        margin: 0 !important;
    }
}