/** HELPERS **/

.block {
	display: block;
}

/** POSTS **/

.posts__list__block {
    display: inline-block;
    margin-bottom: 40px;
}

.posts__list__block__image {
    float: left;
    margin-right: 20px;
}

.posts__list__block__image img {
	max-width: 220px;
    max-height: 120px;
}

/** CONTENT **/

.posts__list__block__content-title {
    margin-bottom: 0;
    display: inline-block;
}

.posts__list__block__content-title a {
	text-decoration: none;
    font-size: 26px;
    color: #808080;
    font-weight: 400;
}

.posts__list__block__content-date {
    color: #787878;
    font-size: 12px;
    text-align: left;
    font-weight: 300;
    margin-bottom: 1em;
    line-height: 1.5em;
}

.posts__list__block__content-subtext {
	margin-bottom: 0.5em;
    font-size: 1.5em;
    color: #808080;
    font-weight: 300;
}

.posts__list__block__content-more a {
    color: #808080;
    font-weight: 300;
}

.pagination {
    text-align: center;
    width: 100%;
}

.pagination .page-numbers{
    color: #575755;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 16px;
}

/** MAX **/

@media(max-width: 991px) {

    .posts__list__block__content-title {
        padding-top: 10px;
    }
}
