.banner {
	background: url(../images/banner.jpg);
	height: 250px;
    margin-bottom: 40px;
}

.banner__title {
	font-weight: 100;
    margin-top: 10px;
    font-size: 70px;
    color: #575755;
    margin-bottom: 0.1em;
}

.banner__subtext {  
    padding-bottom: 5px;
    text-align: left;
    font-size: 26px;
    font-weight: 100;
    color: #808080;
}

/** MIN **/

@media(min-width: 767px) {

    .banner__title {    
        margin-top: 35px;
    }

    .banner-_subtext {
        font-size: 33px;
    }
}