/**** BREADCRUMB ****/

.wrap-breadcrumb {
    background: #406eb3;
    padding: 12px 0;
}

.wrap-breadcrumb__item:first-child {
	font-weight: 400;
}

.wrap-breadcrumb__item {
    color: #FFF;
    font-size: 15px;
    margin-right: 10px;
    font-weight: 300;
}

.wrap-breadcrumb a:hover {
	color: #9BD1DA;
}

.wrap-breadcrumb__item:not(:last-child):after {
    content: '>';
    margin-left: 5px;
	text-decoration: none;
}

/***************** ALTERNATIVE BREADCRUMB ****************/

.wrap-alternative-breadcrumb {
    font-weight: 300;
    font-size: 16px;
    padding-top: 15px;
}

.wrap-alternative-breadcrumb__atual-page {
    font-size: 16px !important;
}