/*CPF Validate*/
.cpf--invalid{
    border: 1px solid #dc3051 !important;
    background-image: url("../images/exclamation.png");
    background-repeat: no-repeat;
    background-position: 97% center;
    background-size: 5px;
}

.email--invalid{
    border: 1px solid #dc3051 !important;
    background-image: url("../images/exclamation.png");
    background-repeat: no-repeat;
    background-position: 97% center;
    background-size: 5px;
}

.gform_wrapper li.gfield_error input[type=email], .gform_wrapper li.gfield_error input[type=number], .gform_wrapper li.gfield_error input[type=password], .gform_wrapper li.gfield_error input[type=tel], .gform_wrapper li.gfield_error input[type=text], .gform_wrapper li.gfield_error input[type=url], .gform_wrapper li.gfield_error textarea{
    border: 1px solid #dc3051 !important;
    background-image: url("../images/exclamation.png");
    background-repeat: no-repeat;
    background-position: 97% center;
    background-size: 5px;
}
.gform_wrapper .validation_message{
    color: #dc3051 !important;
    font-size: 11px !important;
    font-family: roboto !important;
    font-weight: 700 !important;
    letter-spacing: normal;
}
.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description, .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container, .gform_wrapper li.gfield.gfield_error.gfield_contains_required fieldset legend.gfield_label, .gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label{
    margin-left: 0 !important;
}
.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container, .gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label{
    margin-top: 0 !important;
}
.gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning{
    background-color: inherit !important;
    margin-bottom: .375em!important;
    padding: 0;
    border-top: none !important;
    border-bottom: 1px solid #C89797;
}
.gform_wrapper .gfield_description+.gform_wrapper .gfield_description.validation_message, .gform_wrapper .ginput_container+.gfield_description.validation_message{
    margin-top: 6px !important;
}
.gform_wrapper .description, .gform_wrapper .gfield_description, .gform_wrapper .gsection_description{
    padding-top: 0 !important;
}
.gfield_description .validation_message{
    margin-top: -30px !important;
}
.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning{
    border-bottom: none !important;
}
.gform_wrapper .top_label .gfield_error{
    width: 100%;
}
.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container, .gform_wrapper li.gfield_html{
    max-width: 100% !important;
}
.gform_wrapper div.validation_error{
    color: #dc3051 !important;
    border-top: 2px solid #dc3051 !important;
    border-bottom: 2px solid #dc3051 !important;
}
.gform_wrapper li.gfield.gfield_error.gfield_contains_required{
    margin-top: 6px !important;
}
.gform_wrapper.gf_browser_chrome .gfield_error input[type=email], .gform_wrapper.gf_browser_chrome .gfield_error input[type=number], .gform_wrapper.gf_browser_chrome .gfield_error input[type=password], .gform_wrapper.gf_browser_chrome .gfield_error input[type=tel], .gform_wrapper.gf_browser_chrome .gfield_error input[type=text], .gform_wrapper.gf_browser_chrome .gfield_error input[type=url], .gform_wrapper.gf_browser_chrome .gfield_error select, .gform_wrapper.gf_browser_chrome .gfield_error textarea, .gform_wrapper.gf_browser_chrome li.gfield_error.field_sublabel_above .ginput_complex input[type=text]{
    border: 1px solid #dc3051 !important;
}
.gform_wrapper ul li.gfield{
    position: relative;
}

.gform_wrapper .gfield_error .gfield_label{
    color: #406eb3 !important;
}

.hidelabels{
    display: none!important;
}

ul .gfield.gfield_html.gfield_no_follows_desc.field_sublabel_below.field_description_below:first-child{
    display: none;
}
.gform_wrapper div.validation_error{
    display: none;
}

.gform_wrapper.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half){
    max-width: 100% !important;
}

.gform_wrapper .top_label .gfield_error{
    width: 100%;
}

.gform_wrapper .top_label .gfield_error{
    width: 100%;
}

.gform_wrapper .top_label .gfield_error{
    width: 100%;
}

.gform_wrapper.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half){
    max-width: initial;
}

@media only screen and (min-width: 641px){
    .gform_wrapper.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half){
        max-width: initial;
    }
}
.gform_wrapper.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half){
    max-width: initial;
}
.gfield.gfield_error.col-xs-12.col-md-12.col-lg-12.gfield_contains_required.field_sublabel_below.field_description_below.gfield_visibility_visible{
    width: 100% !important;
}

.gform_wrapper .top_label .gfield_error{
    width: 100%;
}

@media (min-width: 992px){
    .col-md-2 {
        width: 16.66666667% !important;
    }
}

@media (min-width: 1200px){
    .col-lg-3 {
        width: 25% !important;
    }
}

@media (min-width: 992px){
    .col-md-6 {
        width: 50% !important;
    }
}

@media (max-width: 768px){
    .gform_wrapper.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half){
        max-width: 100% !important;
    }

    .gform_wrapper .top_label .gfield_error{
        width: 100% !important;
    }

    .gform_wrapper .top_label .gfield_error{
        width: 100% !important;
    }

    .gform_wrapper .top_label .gfield_error{
        width: 100% !important;
    }

    .gform_wrapper.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half){
        max-width: 100% !important;
    }

    .gform_wrapper.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half){
        max-width: initial !important;
        width: 100% !important;
    }

    .gform_wrapper ul.gform_fields li.gfield.gfield_error+li.gfield.gfield_error{
        width: 100%;
    }

}

.gfield.gfield_error  .gfield_label{
    top: 1px !important;
}