/*** HELPERS ***/

.mt16 {
    margin-top: 16px;
}

/*Alinha formulários lado a lado*/
.gform_body ul li {
    position: relative;
    margin-bottom: 12.5px !important;
    border: none;
    display: inline-block;
    vertical-align: top;
    padding-left: 0 !important;
    padding-right: 11px !important;
    float: none !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    width: 100%;
}

/*Estilo dos Inputs*/
.vitrine-form .ginput_container input{
    outline: none !important;
    height: 44px !important;
    line-height: 45px;
    background-color: #FFF;
    margin: 0 0 5px 0;
    border: 1px solid #e2e2e2;
    text-indent: 8px;
    margin-right: 1%;
    border-radius: 6px;
    font-weight: 300;
    font-size: 16px !important;
    color: #575755 !important;
    width: 100% !important;
    margin-right: 1%;
    font-family: Roboto,sans-serif !important;
}

.vitrine-form input[type="text"] {
    background-color: rgb(255, 255, 255);
    border-color: #ddd;
    border-style: solid;
    border-width: 1px;
    font: 400 14px Roboto, sans-serif;
    vertical-align: middle;
    width: 100%;
    padding: 12px;
}

.vitrine-form .ginput_container  textarea{
    outline: none !important;
    line-height: 45px;
    background-color: #FFF;
    margin: 0 0 5px 0;
    border: 1px solid #e2e2e2;
    text-indent: 8px;
    margin-right: 1%;
    border-radius: 6px;
    font-size: 16px !important;
    color: #575755 !important;
    width: 100% !important;
    margin-right: 1%;
}

/*Placeholder Input*/
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #d0d0d0 !important;
    font-weight: 300 !important;
}

/*Retira contador de caracteres*/
.gform_wrapper div.charleft.warningTextareaInfo{
    display: none;
}

/*** texto explicativo sobre download ***/

.filtros {
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 16px;
}

.titulo {
    border-bottom: 1px solid #bb347f;
    padding-bottom: 10px;
    color: #406eb3;
    font-weight: 400;
    font-size: 18px;
}

.download {
    position: relative;
    width: 100%;
    opacity: 1;
    transition: all 0.5s ease-out;
}

.mini {
    font-size: 14px;
    color: #575555;
    font-weight: 300;
}

.curso__info__license__image {
    display: inline-block;
    float: left;
    position: relative;
    top: 2px;
}

.curso__info__license__text {
    width: 93%;
    display: inline-block;
    float: left;
    padding-left: 15px;
}

.curso__info__lincese__image .check__check{
    display: block;
    font-weight: 400;
    font-size: 14px;
    color: #575555;
}

/*Top Labels*/
.gfield_label{
    color: #406eb3 !important;
    font-size: 12px !important;
    font-weight: 300 !important;
    left: 21px;
    position: absolute;
    top: 10px;
}

.gfield_label-repeater{
    color: #406eb3;
    font-size: 12px !important;
    font-weight: 300 !important;
    position: absolute;
    text-indent: 12px;
    margin-top: 1px;
    display: none;
}

.gfield_label-repeater.gfield_label-repeater-show{
    display: block !important;
}

.input__telefone, .input__empresa{
    width: 50% !important;
}

.vitrine-form .gform_footer.top_label input{
    background-color: #26478d;
    border-radius: 6px;
    border: none;
    color: white;
    display: inline-block !important;
    font-size: 17px !important;
    font-weight: 400;
    padding: 9px 45px;
    width: 98% !important;
}

.vitrine-form .gform_footer.top_label input:hover{
    transition: 0.2s;
}

.gform_wrapper .gform_footer{
    padding: 0 !important;
}

.gfield.check__material.field_sublabel_below.field_description_below.gfield_visibility_hidden{
    display: none !important;
}

.gfield.check__material2.field_sublabel_below.field_description_below.gfield_visibility_hidden{
    display: none !important;
}

/*Vitrine Form Nós Ligamos Pra Você*/
/*Form Interesse*/
.form-interesse{
    margin: 30px 0;
    background-color: #F4F4F4;
    display: inline-block;
    width: 100%;
}

.form-interesse .margin_column_top{
    margin-top: 12% !important;
}

.form-interesse .form-interesse__text{
    font-family: Roboto, serif;
    font-weight: 300;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
}

.form-interesse .form-interesse__text--minor{
    font-family: Roboto, serif;
    font-weight: 300;
    font-size: 28px;
    text-align: center;
}

.form-interesse .vitrine-form .input__cnpj{
    width: 60% !important;
}

.form-interesse .vitrine-form .input__telefone{
    width: 40% !important;
}

.form-interesse .vitrine-form .input__empresa{
    width: 100% !important;
}

.form-interesse .curso__info__license2{
    width: 50%;
    margin-top: 15px;
}

#container {
    width: 100%;
    background-color: #f8eaf2;
    position: relative;
    padding: 21px 17px 10px;
    margin-bottom: 15px;
}
#container img{
    margin-top: 5px;
}

#wrapper > #container {
    display: table;
    position: static;
}
#container strong{
    font-weight: 500;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    color: #BB347F;
}

#container p{
    font-size: 14px;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #575755 !important;
}
#container div {
    position: absolute;
    top: 50%;
}
#container div div {
    position: relative;
    top: -50%;
    margin-left: 10px;
}
#container > div {
    display: table-cell;
    vertical-align: middle;
    position: static;
}

@media(min-width: 1024px) {
    .form-interesse {
        padding: 20px 40px;
    }
}