/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

/*Default*/
.padding_t_35{
    padding-top: 35px;
}
.margin_r_15{
    margin-right: 10px !important;
}
.margin_l_15{
    margin-left: 10px !important;
}

/*Footer*/
.footer-margin-title {
    margin-bottom: 16px;
}

.footer-link-category {
    font-size: 16px;
    font-weight: 300;
}

/*Nav*/
.text-nav-item{
    font-family: 'Roboto';
    font-weight: 300 !important;
    font-style: normal !important;
    font-size: 16px !important;
    color: #575757 !important;
    text-align: left;
}

/*DROPDOWN*/
.dropdown-main-menu{
    display: none;
    background-color: #fff;
    position: absolute;
    left: 17%;
    width: 83%;
    top: 11%;
    padding: 15px 15px;
    margin-top: 7px;
    border-left: 6px solid #26478d;
}

.dropdown-main-menu__img-list{
    float: left;
    margin-top: 8px;
    height: 20px;
}

.dropdown-main-menu__list{
    float: left;
    margin-top: 11px;
    margin-left: 10px;
}

.dropdown-main-menu__list__title {
    color: #26478d;
    font-size: 16px;
    font-weight: 300;
    font-family: Roboto, serif;
}

.dropdown-main-menu__ul{
    font-size: 14px;
    font-family: Roboto, serif;
    font-weight: 300;
    margin-left: 15px;
}

.dropdown-main-menu__ul li{
    list-style-type: disc;
    padding-bottom: 5px;
}

.dropdown-main-menu__ul li a{
    color: #575757;
}

.dropdown-main-menu__ul li a:hover{
    color: #26478d;
}

/*Mobile*/
.menu_mobile_link__principal{
    float: left;
    width: 100%;
}
.menu_mobile_link{
    font-size: 14px;
    width: 100%;
    float: left;
    margin-left: 28px;
    color: #575757 !important;
    list-style-type: disc;
}

.menu_mobile_link a {
    color: #575757 !important;
}

@media(max-width: 425px) {
    .block.title_slide {
        font-size: 32px !important;
        margin: 35px 0;
    }

    .block.text_slide {
        margin-bottom: 45px;
    }
}

@media(max-width: 1199px) {
    html body .slider-container {
        background-position: center !important;
    }
}

@media(min-width: 1023px) {
    .dropdown-main-menu__list {
        float: none;   
    }

    .dropdown-main-menu__list__title {
        margin-left: 30px;
    }
}

