/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

/*Default*/
.padding_t_35{
    padding-top: 35px;
}
.align_center{
    text-align: center;
}
.margin_r_15{
    margin-right: 10px !important;
}
.margin_l_15{
    margin-left: 10px !important;
}
.cursor-pointer{
    cursor: pointer;
}

iframe{
    height: 277px !important;
    width: 90% !important;
}

/*Navegação*/
.tabs-solution.nav.nav-tabs{
    margin: 30px 0 20px;
}

.nav-tabs li{
    color: #575757;
    font-size: 16px !important;
    font-family: Roboto, serif !important;
    font-weight: 300 !important;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    color: #575757 !important;
    font-size: 16px !important;
    font-weight: 500;
    font-family: Roboto, serif;
    cursor: default;
    background-color: #fff !important;
    border: none !important;
    border-bottom: 2px solid #26478d !important;
}

.nav-tabs{
    border: none !important;
}

.nav-tabs>li>a{
    font-size: 16px !important;
    font-family: Roboto, serif;
    color: #575757 !important;
    padding: 0 15px !important;
    cursor: pointer;
    -webkit-transition:  200ms ease-in-out;
    transition:  200ms ease-in-out;
    margin-right: inherit !important;
    line-height: inherit !important;
    border: inherit !important;
    border-radius: inherit !important;
}

.nav-tabs>li>a:hover{
    border: none !important;
}

.nav>li>a:focus, .nav>li>a:hover{
    background-color: initial !important;
}

.tab-content{
    margin-top: 20px;
}

.tab-pane.fade.active.in{
    padding: 20px 30px;
    display: inline-block;
    width: 100%;
}

.tab-content>.active{
    background-color: rgba(244, 244, 244, 1);
    border-radius: 5px;
}

/*Images*/
.no-pd-left{
    padding-left:0 !important;
}

.tab_images {
    text-align: center;
    background-color: #fff;
    border-radius: 6px;
    padding-top: 20px;
    width: 100%;
    border: 1px solid #d4d4d4;
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding: 15px 15px 10px 15px;
}

.tab_images .tab_block_paragraph {
    display: table;
    height: 55px;
    width: 100%;
    overflow: hidden;"
}

.tab_images .tab_block_paragraph--text {
    display: table-cell;
    vertical-align: middle;"
}

.tab-pane .tab_pane__text{
    font-size: 16px;
    font-family: Roboto, serif;
    font-weight: 300;
    color: #575757;
    word-break: keep-all;
    white-space: normal;
}

.tab_images p {
    font-family: Roboto, serif;
    font-size: 16px;
    font-weight: 300;
    white-space: normal;
    color: #575757;
}

.tab_images p:hover {
    color: #26478d;
}

.tab_images img{
    margin-bottom: 10px;
    height: 45px;
}

/*BLOG*/
.box-blog-home-plugin{
    display: inline-block;
    width: 85% !important;
    border-radius: 10px;
}

/*Carousel*/
.container_r_slide{
    height: 430px;
}
.owl-dot{
    height: 22px !important;
    width: 23px !important;
    border-radius: 50% !important;
    margin-bottom: 15px !important;
    border: 2px solid #fff !important;
    cursor: pointer;
    background-color: #fff;
    border: 4px solid #fff !important;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.57);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.57);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.57);
    margin-right: 10px;
    display: inline-block;
    margin-left: 3px;
}
.owl-dot.active{
    background-color: #26478d !important;
}

/*Sub Menu*/
.sub-menu-xs{
    display: none;
}
.sub-menu-xs .form-control{
    box-shadow: none;
    border-radius: 6px;
    font-size: 16px;
    margin-top: 16px;
    border-color: #d0d0d0;
    background: url(../images/select-arrow.png) no-repeat;
    background-position: 97% center;
    -webkit-appearance: none;
    height: 47px;
}
.sub-menu-xs .form-control:focus, .option:focus{
    outline: #406eb3;
}

/*Footer*/
.footer-margin-title {
    margin-bottom: 16px;
}

.footer-link-category {
    font-size: 16px;
    font-weight: 300;
}

/*Media*/
@media (min-width: 991px){
    .container.data-art.row {
        margin-right: auto !important;
        margin-left: auto !important;
        padding-left: 15px !important;
    }
}

@media (min-width: 992px) {
    .tab_width {
        width: 50% !important;
    }
}

@media(max-width: 991px){
    .align_c_video{
        text-align: center;
    }
    iframe{
        width: 100% !important;
        margin-bottom: 10px !important;
    }
}

@media (max-width: 1199px) {
    .tabs-solution{
        display: none;
    }
    .sub-menu-xs{
        display: block;
    }
}