/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.form-blog-download {
    display: none;
}

.popularPosts {
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
}

.popularPosts__title {
    font-size: 19px;
    font-weight: 400;
    color: #f20a3b;
    margin-bottom: 15px;
}

.popularPosts__singlePost {
    margin: 10px 0 20px;
}

.popularPosts__title--post {
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 5px;
}

.popularPosts__readMore {
    color: #808080;
    font-size: 12px;
    font-weight: 300;
}

.popularPosts__link {
    display: block;
}

.popularPosts__link:hover {
    opacity: 0.6;
}

.termsPosts {
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
}

.termsPosts__title {
    font-size: 19px;
    font-weight: 400;
    color: #f20a3b;
    margin-bottom: 15px;
}

.termsPosts__singlePost {
    margin: 10px 0 20px;
}

.termsPosts__title--post {
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 5px;
}

.termsPosts__readMore {
    color: #808080;
    font-size: 12px;
    font-weight: 300;
}

.termsPosts__link {
    display: block;
}

.termsPosts__link:hover {
    opacity: 0.6;
}