/** POST **/

.post {
	padding: 40px 0;
    font-family: Roboto,sans-serif !important;
}

.post__title {
    color: #575755;
    font-size: 33px;
    font-style: normal;
    font-weight: 100;
    margin-bottom: 20px;
}

.post__featured-image img {
	float: left;
    margin: 40px 40px 40px 0;
}

.post__subtext p {
    line-height: 1.5em;
    font-weight: 300;
    font-size: 16px;
    margin-top: 35px;
}

.post__subtext ul {
    list-style-type: circle;
    padding-left: 22px;
}

.post__subtext li {
    list-style-type: circle;
    font-weight: 300;
    font-size: 16px;
    color: #575555;
    margin-bottom: 15px;
}

/*** confira também ***/

.boxxy {
    background-color: rgba(244, 244, 244, 1);
    padding: 15px;
    border-radius: 10px;
}

.boxxy h3 {
    color: #406EB3;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    margin-bottom: 9px;
    padding-bottom: 9px;
    text-align: left;
}

.boxxy .caption {
    color: #575755;
    font-family: 'Roboto Light', 'Roboto Regular', 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 10px;
}

/** PREV E NEXT **/

.post__prev-and-next {   
    padding: 90px 0;
}

.prev-post {
    float: left;
}

.next-post {
    float: right;
}

.default-prev-next {
    color: #808080;
    text-decoration: underline;
    font-size: 14px;
    letter-spacing: .8px;
}

.default-prev-next:hover {
    text-decoration: none;
    color: #808080;
}

/** FORM **/

.form-blog-download {
    margin-bottom: 20px;
}

/*** MEDIA QUERIES ***/

/** MAX **/

@media(max-width: 767px) {

    .post__featured-image img {
        display: none;
    }

    .post__subtext {
        margin-top: 20px;
    }

    .form-filtro {
        max-width: 500px;
        margin: 20px auto;
    }
}

/** MIN AND MAX **/

@media(min-width: 767px) and (max-width: 991px) {
    html body .vitrine-form .gform_footer.top_label input {
        font-size: 12px !important;
        padding: 9px 30px;
    }
}