/*SINGLE VITRINE - CSS*/
.form-filtro{
    display: none;
}

.form-video{
    margin-bottom: 30px;
    display: none;
}

.filtros__button--blue {
    background-color: #26478d;
    border-radius: 6px;
    border: none;
    margin-left:70px;
    color: white;
    display: inline-block;
    font-size: 16px !important;
    font-weight: 400;
    padding: 10px 40px;
    cursor: pointer;
}

.curso__info__license{
    margin-top: 10px;
}

.curso__info__license__text{
    width: 93%;
    display: inline-block;
    float: left;
    padding-left: 15px;
}

.label__util{
    display: inline-block;
    font-size: 12px !important;
    font-weight: 400 !important;
    -webkit-transition:  230ms ease-in-out;
    transition:  230ms ease-in-out;
}

.label__util--error{
    color: red;
    font-weight: 500;
}

.curso__info__license__image{
    display: inline-block;
    float: left;
    position: relative;
    top: 2px;
}

/*License*/

.regular-checkbox-3 {
    display: none;
}

.regular-checkbox-3 + label {
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 7px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}

.regular-checkbox-3 + label:active, .regular-checkbox-3:checked + label:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox-3:checked + label {
    background-color: #fff;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
}

.regular-checkbox-3:checked + label:after {
    content: url('../images/check-purple.png');
    font-size: 14px;
    position: absolute;
    top: -2px;
    left: 1px;
    font-weight: bold;
    color: #355495;
}

.regular-checkbox-4 {
    display: none;
}

.regular-checkbox-4 + label {
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 7px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}

.regular-checkbox-4 + label:active, .regular-checkbox-4:checked + label:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox-4:checked + label {
    background-color: #fff;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
}

.regular-checkbox-4:checked + label:after {
    content: url('../images/check-purple.png');
    font-size: 14px;
    position: absolute;
    top: -2px;
    left: 1px;
    font-weight: bold;
    color: #355495;
}

@media (max-width: 991px){
    /*Default*/
    .no-pad-left-mobile{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}


#container {
    width: 100%;
    background-color: #f8eaf2;
    position: relative;
    padding: 21px 17px 10px;
}
#container img{
    margin-top: 5px;
}

#wrapper > #container {
    display: table;
    position: static;
}
#container strong{
    font-weight: 500;
    font-size: 16px;
    font-family: Roboto;
    color: #BB347F;
}

#container p{
    font-size: 14px;
    font-family: Roboto;
    font-weight: 300;
    color: #575755 !important;
}
#container div {
    position: absolute;
    top: 50%;
}
#container div div {
    position: relative;
    top: -50%;
    margin-left: 10px;
}
#container > div {
    display: table-cell;
    vertical-align: middle;
    position: static;
}

/*Alteração 01.08.2017*/
.form-telefone{
    display: none;
}

.form-posts{
    display: none;
}

.posts__link{
    color: #575757 !important;
}

.posts__link:hover{
    color: #26478d !important;
}

/*Alteração dia 18/08*/
.content_vitrine_separator{
    margin-bottom: 25px;
}

.content__vitrine__title{
    font-size: 36px !important;
    font-family: Roboto, serif;
    font-weight: 100 !important;
    margin: 0 !important;
}

.content__vitrine img {
    display: block;
    height: auto;
    max-width: 100%;
}

/*Alteração 21/08*/
.box__form {
    max-width:455px;
    background-color:#EAEDF4;
    border-radius:6px;
    padding:10px 0;
    margin-bottom:10px;
    color:#545454;
}

.box__form img {
    float:left;
    margin-left:20px;
}

.box__form p {
    font-weight:400;
    font-size:18px;
}

.box__form span {
    font-weight:300;
}

.mini-box__form {
    margin:2px 0 0 15%;
    line-height:20px;
}

@media(max-width:430px) {
    .mini-box__form {
        margin:5px 0 0 20%;
    }
}

/*Alteração dia 22.08*/
.form-lead{
    display: none;
}

/*Alteração 03/10/2017*/
.main-af__alert{
    font-family: Roboto, sans-serif;
    padding-left: 85px;
    margin-right: 27px;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 54px 54px;
    margin-bottom: 66px;
}

.main-af__alert--subtitle{
    font-family: Roboto, sans-serif;
    color: #406eb3 !important;
    font-size: 18px !important;
    font-weight: 400 !important;
    margin-bottom: 19px !important;
}

.main-af__alert--body{
    font-family: Roboto, sans-serif;
    font-size: 16px !important;
    font-weight: 300 !important;
}

.main-af__title {
    color: #575755 !important;
    font-size: 20px !important;
    font-weight: 300 !important;
    margin-bottom: 30px !important;
}

.clique_saiba_mais {
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
}

.content__vitrine .content__vitrine__title.content_dinamyc {
    margin-top: 20px !important;
}

.another_post_title {
    color: #26478d !important;
    font-size: 45px !important;
    font-weight: 300 !important;
    margin: 15px 0 !important;
}
