/* CSS ESPECIFICO PARA A PÁGINA DE VITRINE DE PRODUTOS */
/**/
.no-pd-left-right{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
/* ================= BASES */
.mt8 { margin-top: 8px; }
.mt16 { margin-top: 16px; }
.mt32 { margin-top: 32px; }

.a-center { text-align: center; }
.a-right { text-align: right; }
.a-left { text-align: left; }

.no-pad-sides { padding-left: 0 !important; padding-right: 0 !important; }
.no-pad-right { padding-right: 0 !important; }
.no-pad-left { padding-left: 0 !important; }

.full { width: 100% !important; }

#vitrine-produtos span {
    font-weight: 300;
    font-size: 14px;
    color: #575555;
}

#vitrine-produtos p.base, #vitrine-produtos li {
    font-weight: 300;
    font-size: 16px;
    color: #575555;
}


/*Content Vitrine*/
.content_vitrine_separator{
    margin-bottom: 25px;
}

.content__vitrine__title{
    font-size: 36px !important;
    font-family: Roboto, serif;
    font-weight: 100 !important;
    margin: 0 !important;
}

iframe{
    width: 100% !important;
    height: 254px !important;
    border-radius: 6px !important;
}

.content__vitrine p{
    margin-top: 5px;
}

.content__vitrine p, .content__vitrine li {
    font-weight: 300;
    font-size: 16px;
    color: #575555;
}

#vitrine-produtos li {
    list-style-type: circle;
}

.content__vitrine li {
    list-style-type: circle;
}

#vitrine-produtos ul {
    list-style-type: circle;
    padding-left: 22px;
}

#vitrine-produtos .vitrine-form ul{
    padding-left: 0;
}

.content__vitrine ul {
    list-style-type: circle;
    padding-left: 22px;
}

#vitrine-produtos p.head {
    font-size: 16px;
    color: #575555;
    font-weight: 300;
}

#vitrine-produtos p.mini {
    font-size: 14px;
    color: #575555;
    font-weight: 300;
}

#vitrine-produtos .p-text-interno {
    padding-bottom: 5px;
    text-align: left;
    font-size: 33px;
    font-weight: 100;
    font-family: Roboto, sans-serif;
}

#vitrine-produtos h1 {
    font-family: Roboto;
    font-weight: 100;
    font-size: 70px;
    margin-top: 35px;
    color: #575755;
    margin-bottom: 0.1em;
}

#vitrine-produtos h2 {
    font-size: 28px;
    color: #575555;
    font-weight: 200;
}

.content__vitrine h2 {
    font-size: 28px;
    color: #575555;
    font-weight: 200;
}

#vitrine-produtos h3 {
    font-size: 18px;
    color: #575555;
    font-weight: 300;
}

#vitrine-produtos h3.titulo {
    border-bottom: 1px solid #BB347F;
    padding-bottom: 10px;
    color: #406eb3;
    font-weight: 400;
}

#vitrine-produtos h3.line {
    position: relative;
    z-index: 1;
    font-size: 14px;
}

#vitrine-produtos h3.line:before {
    border-top: 2px solid #dfdfdf;
    content:"";
    margin: 0 auto;
    position: absolute;
    top: 50%; left: 0; right: 0; bottom: 0;
    width: 95%;
    z-index: -1;
}

 #vitrine-produtos h3.line span { 
    background: #f4f4f4; 
    padding-right: 10px;
}

#vitrine-produtos span.tel {
    font-size: 21px;
    font-weight: 400;
} 


/* ================= HEADER */
#vitrine-produtos .header {
    padding: 0;
    background: url(https://marketing.serasaexperian.com.br/wp-content/themes/serasa/assets/img/banner-prod-interno.jpg) no-repeat center center;
    background-size: cover;
    padding-bottom: 30px;
}

/* ================= BOTÕES */
#vitrine-produtos .btn.comprar-mais {
    width: auto;
}

#vitrine-produtos .btn:focus {
    color: #fff;
}

#vitrine-produtos .header .btn {
    background-color: #982881;
    background-image: url(https://marketing.serasaexperian.com.br//wp-content/themes/serasa/assets/img/bt.png);
    background-position: 260px 24px;
    background-repeat: no-repeat;
    bottom: 30px;
    font-family: Roboto;
    font-size: 23px;
    font-weight: 100;
    height: 60px;
    line-height: 60px;
    padding: 0 20px 0 0;
    position: relative;
    text-align: center;
    width: 290px;
    margin: 0 auto;
    margin-top: 32px;
}

/* ================== CONTEUDO */

#vitrine-produtos .container.bottom {
    padding-bottom: 50px;
}
#vitrine-produtos .filtros {
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 16px;
}

#vitrine-produtos .filtros-avancados {
    border-top: 1px solid #ccc;
}

#vitrine-produtos .lista-produto .item-produto {
    transition: all 0.3s ease-out;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,.17);
    -webkit-box-shadow: 0 3px 10px rgba(0,0,0,.17);
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    border: 2px solid transparent;
}

#vitrine-produtos .lista-produto .item-produto:hover {
    transition: all 0.3s ease-out;
    border: 2px solid #406eb3;
    border-radius: 10px;
    cursor: pointer;
}

#vitrine-produtos .lista-produto .item-produto h3 {
    font-size: 18px;
    color: #406eb3;
    font-weight: 400;
}

#vitrine-produtos .lista-produto .item-produto p {
    font-size: 14px;
}

#vitrine-produtos .lista-produto .item-produto p.mini {
    font-size: 12px;
    font-weight: 300;
    display: inline-block;
    color: #575555;
    margin-bottom: 0;
}

#vitrine-produtos .lista-produto .item-produto i {
    width: 30px;
    height: 30px;
    opacity: 0.2;
}

#vitrine-produtos .lista-produto .item-produto i.active {
    opacity: 1;
}

#vitrine-produtos .alert-box {
    background-color: #f8eaf2;
    position: relative;
    padding: 8px 16px;
}

#vitrine-produtos .alert-box img {
    position: absolute;
    margin: 0 auto;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

#vitrine-produtos .alert-box p {
    padding-left: 30px;
    margin-bottom: 0;
    font-size: 14px;
}

#vitrine-produtos .alert-box strong {
    font-weight: 500;
    color: #BB347F;
}

#vitrine-produtos .download {
    position: absolute;
    opacity: 0;
    transition: all 0s ease-out;
}

#vitrine-produtos .download.active {
    position: relative;
    width: 100%;
    opacity: 1;
    transition: all 0.5s ease-out;
}

#vitrine-produtos .accordeon-list .item .header-bar {
    background-color: rgba(233, 236, 243, 1);
    padding: 12px;
    position: relative;
}

#vitrine-produtos .accordeon-list .item .header-bar h3 {
    color: #406eb3;
    font-weight: 400;
}

#vitrine-produtos .accordeon-list .item .conteudo {
    background-color: rgba(233, 236, 243, 1);
    padding: 12px;
}

/* ================== FORM */

#vitrine-produtos input[type="text"] {
    background-color: rgb(255, 255, 255);
    border-color: #ddd;
    border-style: solid;
    border-width: 1px;
    font: 400 14px Roboto, sans-serif;
    vertical-align: middle;
    width: 100%;
    padding: 12px;
}

#vitrine-produtos input[type="text"]::placeholder {
    color: #575555;
}

#vitrine-produtos .icon-abs {
    position: relative;
    width: 100%;
}

#vitrine-produtos .icon-abs .icon-lupa {
    position: absolute;
    right: 10px;
    width: 25px;
    height: 25px;
    margin: 0 auto;
    transform: translateY(-50%);
    top: 50%;
}

#vitrine-produtos label {
    display: block;
    font-weight: 400;
    font-size: 14px;
    color: #575555;
}

#vitrine-produtos label:hover {
    cursor: pointer;
}

#vitrine-produtos input[type="checkbox"] {
  padding: 0;
  vertical-align: bottom;
  position: relative;
  top: -3px;
  margin-right: 8px;
  overflow: hidden;
}

#vitrine-produtos label {
    font-size: 12px;
}

#vitrine-produtos label.person i {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -9px;
    left: 29px;
}

#vitrine-produtos label.person input[type="checkbox"] {
    margin-right: 30px;
}

#vitrine-produtos label.business i {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -9px;
    left: 18px;
}

#vitrine-produtos label.business input[type="checkbox"] {
    margin-right: 39px;
}

#vitrine-produtos .toggle-page {
    float: right;
    position: absolute;
    width: 23px;
    height: 13px;
    display: block;
    background: url(../images/ico_arrow_up.png) no-repeat;
    right: 10px;
    top: 15px;
    color: transparent;
    font-size: 0;
    transform: rotate(0deg);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#vitrine-produtos .toggle-page.up {
    transform: rotate(180deg);
}

#vitrine-produtos .num-circulo {
    position: absolute;
    display: inline-block;
    padding: 6px;
    color: #406eb3;
    background: #f4f4f4;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    text-align: center;
    font-size: 18px;
    top: -4px;
    right: 12px;
}

.tooltip {
  font-family: Roboto, Arial, sans-serif !important;
  width: 200px !important;
}

.tooltip-inner {
  background: #fff !important;
  color: #26478d !important;
  text-align: left !important;
  box-shadow: 0 0 10px #d0d0d0 !important;

}

.tooltip.top .tooltip-arrow {
  border-top-color: #fff !important;
}

.tooltip.right .tooltip-arrow {
  border-right-color: #fff !important;
}

.show-xs { display: none !important; }

@media screen and (max-width: 480px) {

    .show-xs { display: block !important; }

    .mobile-center { text-align: center !important; }
    .mobile-mt16 { margin-top: 16px !important; }
    .no-pad-sides { padding-left: 15px !important; padding-right: 15px !important; }

    /* HEADER */

    #vitrine-produtos h1 {
        font-size: 40px;
    }

    #vitrine-produtos .p-text-interno {
        font-size: 20px;
    }

    #vitrine-produtos .header .btn {
        font-size: 18px;
        width: 260px;
        background-position: 236px 24px;
    }

    #vitrine-produtos .header {
        padding-bottom: 0px;
    }

}

/*24.07.2017*/
.icon-left{
    float: left !important;
}

.separator{
    border-bottom: 1px solid #dddddd;
    margin: 40px 0;
    position: relative;
    clear: both;
}

.separator span{
    position: absolute;
    display: block;
    background: #fff;
    font-size: 24px !important;
    left: 0;
    margin: 0 auto;
    text-align: center;
    top: -20px;
    font-family: Roboto, serif;
    font-weight: 100 !important;
    padding-right: 10px;
}